---
import Layout from "../layouts/Layout.astro";
import Location from "../components/Location.astro";
import HeroSection from '../components/HeroSection.astro';

---

<Layout  title="Koöben Cocina Yucateca"
description="Koöben Cocina Yucateca">
<main class="px-4">
<!-- <HeroSection> -->
<Location>

</div>
</main>
</Layout>
