<footer class="bg-secondary-400 text-primary-100 py-8">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="info">
        <h3 class="text-xl font-bold mb-2">Información</h3>
        <p>Dirección: Calle Principal #123, Mérida, Yucatán</p>
        <p>Horarios: Lunes a Sábado, 12:00 - 22:00</p>
        <p>Teléfono: +52 (999) 123-4567</p>
      </div>
      <div class="enlaces">
        <h3 class="text-xl font-bold mb-2">Enlaces Útiles</h3>
        <ul>
          <li><a href="#" class="hover:underline">Artículos sobre Cocina Yucateca</a></li>
          <li><a href="#" class="hover:underline">Preguntas Frecuentes</a></li>
          <li><a href="#" class="contact-btn bg-primary-200 text-secondary-400 py-2 px-4 rounded-md hover:bg-primary-300 transition-colors">Contáctanos</a></li>
        </ul>
      </div>
      <div class="redes-sociales">
        <h3 class="text-xl font-bold mb-2">Síguenos</h3>
        <ul>
          <li><a href="#" class="hover:underline">Facebook</a></li>
          <li><a href="#" class="hover:underline">Instagram</a></li>
          <li><a href="#" class="hover:underline">Twitter</a></li>
        </ul>
      </div>
    </div>