---
const currentYear = new Date().getFullYear()
import Facebook from './icons/Facebook.astro'
import Instagram from './icons/Instagram.astro'
---

<footer
  class="rounded-lg shadow bg-black/5 dark:bg-white/10 dark:shadow-white/20 backdrop-blur-lg w-full mx-auto container lg:max-w-4xl md:max-auto mb-10 flex justify-center"
>
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4 px-4 md:px-0"
  >
    <span class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
      >Derechos Reservados Koöben Cocina Yucateca © {currentYear}
      <a href="" class="hover:underline">
      </a>
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
     
    <ul class="flex flex-col text-base">
        <li>
            <span class="text-slate-700 font-bold text-base">Redes Sociales</span>
        </li>
        <li class="flex flex-row justify-between">
            <Facebook />
        </li>
        <li class="flex flex-row justify-between">
            <Instagram />
        </li>
    </ul>
      </li>
    </ul>
  </div>
</footer>