<section class="hero relative h-screen overflow-hidden">
    <video autoplay loop muted class="absolute inset-0 w-full h-full object-cover">
      <source src="/videos/yucateca.mp4" type="video/mp4">
    </video>
    <div class="hero-content absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center text-primary-100">
      <h1 class="tagline text-4xl font-bold mb-4">Saborea las Tradiciones</h1>
      <a href="#menu" class="menu-btn bg-secondary-400 text-primary-100 py-2 px-4 rounded-md hover:bg-secondary-500 transition-colors">Explora Nuestro Menú</a>
    </div>
  </section>