---
import HeroImage from '../../public/kooben_logo.jpg'
---
<section class="hero flex items-center justify-center" style={`background-image: url(${HeroImage})`}>
  <div class="text-center text-black">
    <h1 class="text-6xl mb-4 uppercase">KOOBEN COCINA YUCATECA</h1>
    <h2 class="text-2xl mb-8">Restaurante de Comida Yucateca en Aguascalientes</h2>
    <div class="flex justify-center">
      <button class="bg-gray-800 text-white px-6 py-3 hover:bg-gray-700">EXPLORA</button>
    </div>
  </div>
</section>

<style>
  .hero {
    background-size: cover;
    background-position: center;
    height: 80vh;
  }
</style></div></section>

